@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}
p, h1,h2{
    color: hsl(210, 10%, 33%);
}

/*base styles*/

.clipboard{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.clipboard .clipboard-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 30px 0;
}
.clipboard .clipboard-logo img{
    width: 100px;
}

.clipboard .clipboard-paragraph-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 70px 10px;
}

.clipboard .clipboard-paragraph-button h1{
    text-align: center;
    margin: 20px 50px 10px 50px;
    font-weight: 600;
}

.clipboard .clipboard-paragraph-button p{
    text-align: center;
    margin: 0 25px;
    line-height: 15px;
    font-weight: 400;
    font-size: 11px;
}

.clipboard .clipboard-paragraph-button .clipboard-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.clipboard .clipboard-paragraph-button .clipboard-buttons .cyan-btn{
    border-bottom: 3px solid darkcyan;
    border-radius: 30px;
    padding: 8px 90px;
    font-size: 12px;
    background-color: hsl(171, 66%, 44%);
    color: white;
}

.clipboard .clipboard-paragraph-button .clipboard-buttons .blue-btn{
    border-bottom: 3px solid darkblue;
    border-radius: 30px;
    padding: 8px 90px;
    font-size: 12px;
    background-color: hsl(233, 100%, 69%);
    color: white;
}

.clipboard .clipboard-header-text{
    text-align: center;
}

.clipboard .clipboard-header-text h2{
    margin-bottom: 10px;
    font-weight: 600;
}

.clipboard .clipboard-header-text p{
    margin: 0 30px;
    font-weight: 400;
    font-size: 11px;
}

.clipboard .clipboard-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.clipboard .clipboard-content .clipboard-content-desktop-img{
    margin-bottom: 50px;
}

.clipboard .clipboard-content .clipboard-content-desktop-img img{
    width: 300px;
}

.clipboard .clipboard-content .clipboard-content-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.clipboard .clipboard-content .clipboard-content-text .clipboard-content-text-subtext h2{
    font-weight: 600;
    font-size: 1.3em;
}

.clipboard .clipboard-content .clipboard-content-text .clipboard-content-text-subtext p{
    margin-top: 4px;
    font-weight: 400;
    font-size: 11px;
}

.clipboard .clipboard-tablet-img{
    margin: 40px 10px 60px 10px;
    display: flex;
    justify-content: center;
}

.clipboard .clipboard-tablet-img img{
    width: 350px;
}

.clipboard .clipboard-sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.clipboard .clipboard-sponsors .clipboard-sponsors-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 20px;
}

.clipboard .clipboard-sponsors .clipboard-sponsors-text .clipboard-sponsors-text-subtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clipboard .clipboard-sponsors .clipboard-sponsors-text .clipboard-sponsors-text-subtext img{
    margin: 0 0 20px 0;
}

.clipboard .clipboard-sponsors .clipboard-sponsors-text .clipboard-sponsors-text-subtext h2{
    text-align: center;
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 1.3em;
}

.clipboard .clipboard-sponsors .clipboard-sponsors-text .clipboard-sponsors-text-subtext p{
    text-align: center;
    line-height: 17px;
    font-weight: 400;
    font-size: 11px;
}

.clipboard .clipboard-sponsors .clipboard-sponsors-logos img{
    width: 100px;
    margin: 40px 0;
}

.clipboard-footer{
    background-color: hsl(201, 11%, 66%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clipboard-footer .clipboard-logo-copyrights img{
    margin: 100px 0 30px 0;
    width: 100px;
}

.clipboard-footer .clipboard-logo-copyrights .clipboard-copyrights p{
    text-align: center;
    margin-bottom: 30px;
    line-height: 17px;
    font-weight: 400;
    cursor: pointer;
}


.clipboard-footer .clipboard-social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin-bottom: 40px;
}

/*mobile styles*/
@media screen and (min-width:375px){
    body{
        background: url("./images/bg-header-desktop.png") no-repeat;
        object-fit: contain;
        font-family: 'Bai Jamjuree',sans-serif;
    }
}

/*laptop and desktop styles*/
@media screen and (min-width:800px){
    body{
        background: url("./images/bg-header-desktop.png") no-repeat;
        object-fit: cover;
        font-family: 'Bai Jamjuree',sans-serif;
    }

    .clipboard .clipboard-paragraph-button h1{
        font-weight: 600;
        font-size: 2em;
    }

    .clipboard .clipboard-paragraph-button p{
        margin: 5px 0 15px;
        font-size: 13px;
    }

    .clipboard .clipboard-paragraph-button .clipboard-buttons{
        flex-direction: row;
    }

    .clipboard .clipboard-paragraph-button .clipboard-buttons .cyan-btn{
        padding: 10px 50px;
        font-size: 13px;
    }

    .clipboard .clipboard-paragraph-button .clipboard-buttons .blue-btn{
        padding: 10px 50px;
        font-size: 13px;
    }

    .clipboard .clipboard-header-text p{
        line-height: 16px;
        font-size: 13px;
    }


    .clipboard .clipboard-content{
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin: 50px 0;
    }

    .clipboard .clipboard-content .clipboard-content-text{
        gap: 30px;
    }


    .clipboard .clipboard-content .clipboard-content-desktop-img{
        margin: 0 0 30px -20px;
    }

    .clipboard .clipboard-content .clipboard-content-desktop-img img{
        width: 500px;
    }

    .clipboard .clipboard-content .clipboard-content-text .clipboard-content-text-subtext{
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 70px;
    }

    .clipboard .clipboard-content .clipboard-content-text .clipboard-content-text-subtext h2{
        text-align: start;
    }

    .clipboard .clipboard-content .clipboard-content-text .clipboard-content-text-subtext p{
        text-align: start;
    }

    .clipboard .clipboard-tablet-img img{
        width: 750px;
    }

    .clipboard .clipboard-sponsors .clipboard-sponsors-logos {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .clipboard-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
    }

    .clipboard-footer .clipboard-logo-copyrights{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 700px;
        margin: 30px 0;
    }

    .clipboard-footer .clipboard-logo-copyrights img{
        margin: 0 50px;
        width: 50px;
    }

    .clipboard-footer .clipboard-logo-copyrights .clipboard-copyrights{
        width: 500px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }


    .clipboard-footer .clipboard-social-media {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        align-self: center;
        width: 250px;
    }
}
